body {
	background-color: #444;
}
#platform {
	margin:auto;
	background-color: #EEE;
	width: 564px;
	border-style: solid;
    border-width: 1px;
    overflow: hidden;
    display: inline-block; /* Necessary to trigger "hasLayout" in IE */
    display: block; /* Sets element back to block */
}
#usernameInputText {
	width:199px;
}
#passwordInputText {
	width:199px;
}
#loginStatus {
	float: left;
	width:204px;
	height:60px;
}
#connectedUsers {
	float: left;
	width:300px;
	height:60px;
}
#login {
	float:left;
	width:204px;
}
#timerInfo {
	float: left;
	width:564px;

}
#newsHeadline {
	margin-bottom: 20px;
}
#eventScriptDisplay {
	float:left;
	width:204px;
	height:60px;
	margin:10px;
    padding: 3px;
    font-size: 90%;
    border-style: solid;
    border-width: 1px;
}
#news {
	float:left;
	width:300px;
	height:135px;
	margin:10px;
    padding: 3px;
    font-size: 90%;
    border-style: solid;
    border-width: 1px;
}
#adminButtons {
	height:60px;
	float:left;
	width:300px;
}
#marketPriceUpdates {
	width:204px;
	float:left;
}
#marketProducts {
	float: left;
	width:135px;
}
#portfolio {
	float:left;
    font-size: 90%;
}
#cashbook {
	float:left;
	width:204px;
	height:150px;
	border-style: solid;
    border-width: 1px;
    margin:10px;
    padding:3px;
}

.openBorder {
	border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
}

.marketProduct {
	width:100px;
	height:20px;
	margin:10px;
	border-style: solid;
    border-width: 1px;
    padding: 5px;
}
#buyOptions {
	float: left;
    text-align: center;
}
.buyBtn {
	float: right;
	margin-top:10px;
}
.product {
	width:100px;
	height:20px;
	margin:10px;
	border-style: solid;
    border-width: 1px;
    padding: 5px;
    text-align: center;
}
.standard {
	margin:10px;
	border-style: solid;
    border-width: 1px;
    padding: 3px;
    font-size: 90%;
}
#portProducts{
	float:left;
	margin:10px;
	padding:3px;
	width:300px;
	height:150px;
	border-style: solid;
    border-width: 1px;
}
#portProduct1 {
	float: left;
}
#portProduct2 {
	float: left;
}
#portProduct3 {
	float: left;
}
.portfolioStandard {
	float:left;
	height: 15px;
	padding: 5px;
	width: 78px;
	margin: 5px;
	border-style: solid;
    border-width: 1px;
    text-align: center;
    font-size: 90%;
}

#pp1Code {
}

#pp1Amount {
}

#pp1AveragePrice {
}

#uninvestedFunds {
	margin-bottom: 20px;
}

#investedFunds {
	margin-top:5px;
	margin-bottom: 20px;
}








