body {
 margin: 0px 0px 0px 0px;
 background-color: #636973;
 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#platform {
	margin:auto;
	margin-top: 20px;
	background-color: #EEE;
	width: 564px;
	border-style: solid;
    border-width: 1px;
    overflow: hidden;
    display: inline-block; /* Necessary to trigger "hasLayout" in IE */
    display: block; /* Sets element back to block */
}
#usernameInputText {
	width:199px;
}
#passwordInputText {
	width:199px;
}
#loginStatus {
	float: left;
	width:204px;
	height:60px;
}
#connectedUsers {
	float: left;
	width:300px;
	height:60px;
}
#login {
	float:left;
	width:204px;
}
#timerInfo {
	float: left;
	width:564px;

}
#newsHeadline {
	margin-bottom: 20px;
}
#eventScriptDisplay {
	float:left;
	width:204px;
	height:60px;
	margin:10px;
    padding: 3px;
    font-size: 80%;
    border-style: solid;
    border-width: 1px;
}
#news {
	float:left;
	width:300px;
	height:135px;
	margin:10px;
    padding: 3px;
    font-size: 80%;
    border-style: solid;
    border-width: 1px;
}
#adminButtons {
	height:60px;
	float:left;
	width:300px;
}
#marketPriceUpdates {
	width:204px;
	float:left;
}
#marketProducts {
	float: left;
	width:135px;
	height: 136px;
}
#portfolio {
	float:left;
    font-size: 80%;
}
#cashbook {
	float:left;
	width:204px;
	height:150px;
	border-style: solid;
    border-width: 1px;
    margin:10px;
    padding:3px;
}

.openBorder {
	border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
}
.marketProduct {
	width:100px;
	height:20px;
	margin:10px;
	border-style: solid;
    border-width: 1px;
    padding: 5px;
}
#buyOptions {
	float: left;
    text-align: center;
}
.buyBtn {
	float: right;
	margin-top:10px;
}
.product {
	width:100px;
	height:20px;
	margin:10px;
	border-style: solid;
    border-width: 1px;
    padding: 5px;
    text-align: center;
}
.standard {
	margin:10px;
	border-style: solid;
    border-width: 1px;
    padding: 3px;
    font-size: 80%;
}
#portProducts{
	float:left;
	margin:10px;
	padding:3px;
	width:300px;
	height:150px;
	border-style: solid;
    border-width: 1px;
}
#productName1 {
	margin-top: 3px;
	height: 20px;
	float: left;
}
#productName2 {
	margin-top: 3px;
	height: 20px;
	float: left;
}
#productName3 {
	margin-top: 3px;
	height: 20px;
	float: left;
}
#productMarketPrice1 {
	margin-top: 3px;
	height: 20px;
	float: right;
}
#productMarketPrice2 {
	margin-top: 3px;
	height: 20px;
	float: right;
}
#productMarketPrice3 {
	margin-top: 3px;
	height: 20px;
	float: right;
}
#portProduct1 {
	float: left;
}
#portProduct2 {
	float: left;
}
#portProduct3 {
	float: left;
}
.portfolioStandard {
	float:left;
	height: 15px;
	padding: 5px;
	padding-top:7px;
	width: 78px;
	margin: 5px;
	margin-top:4px;
	border-style: solid;
    border-width: 1px;
    text-align: center;
    font-size: 90%;
}

#pp1Code {
}

#pp1Amount {
}

#pp1AveragePrice {
}

#uninvestedFunds {
	margin-bottom: 20px;
}

#investedFunds {
	margin-top:5px;
	margin-bottom: 20px;
}



/* portal template */

a:link {color:#808080;}     
a:visited {color:#808080;}  
a:hover {color:#707070;} 
a:active {color:#707070;}

#page {
 width: 937px;
 height: 850px;
 background-color: #FFFFFF;
 margin: 0 auto;
}

#headerImage {
 display: block;
 width: 937px;
 height: 130px;
 background-image:url('../img/fitchlearning.jpg');
 background-repeat: no-repeat;
}

#nav {
 margin-top: -37px;
 margin-right: 32px;
 float: right;
 width: 350px;
 height: 29px;
 font-size: 12px;
 color: #FFFFFF;
}

#nav a:link {
 color: #FFFFFF;
}

#nav a:visited {
 color: #FFFFFF;
}

#nav a:hover {
 color: #FFFFFF;
}
#nav a:active {
 color: #FFFFFF;
}

#navAbout {
 display: block;
 float: right;
 height: 23px;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 7px;
 border-top-left-radius: 4px;
 border-top-right-radius: 4px;
 border-color: #e3e3e3;
 background-color: #3b265e;
}

#navSimDemo {
 display: block;
 float: right;
 height: 23px;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 7px;
 margin-right: 4px;
 border-top-left-radius: 4px;
 border-top-right-radius: 4px;
 border-color: #e3e3e3;
 background-color: #c30045;
}

#mainContentBG {
 width: 900px;
 height: 678px;
 border: 1px solid;
 border-radius: 4px;
 border-color: #e3e3e3;
 background-color: #F5F5F5;
 margin: 18px auto;
}

#mainContentTitleBG {
 margin-left: 18px;
 margin-top: 18px;
 width: 862px;
 height: 70px;
 border-radius: 4px;
 background-color: #006873;
}

#mainContentTitle {
 margin-left: 15px;
 margin-top: 10px;
 width: 650px;
 float: left;
 font-size: 25px;
 font-weight:500;
 color: #FFFFFF;
 font-family: Arial, sans-serif;
}

#mainContentSubTitle {
 margin-left: 17px;
 width: 350px;
 float: left;
 margin-top: 6px;
 font-size: 15px;
 color: #FFFFFF;
 font-family: Arial, sans-serif;
}

#footer {
 width: 931px;
 height: 23px;
 margin-top: 18px;
 padding-top: 6px;
 padding-left: 6px;
 background-color: #000000;
 color: #FFFFFF;
 font-size: 11px;
 }

#aboutIcon {
 margin-top: 5px;
 width: 60px;
 height: 60px;
 float: right;
 padding-right: 8px;
 background-image:url('../img/about-icon.png');
 background-repeat: no-repeat;
}

#aboutMainImage {
 margin: 0px auto;
 width: 800px;
 height: 474px;
 background-image:url('../img/about-primary-image.jpg');
 background-repeat: no-repeat;
}

#aboutContent {
 margin-top: 10px;
 margin-left: 35px;
 float: left;
 width: 408px;
 height: 560px;
 line-height: 20px;
}

.aboutHeader {
 margin-bottom: 10px;
 font-size: 17px;
 color: #cc0033;
 font-weight: bold;
}

.aboutContentText {
 margin-bottom: 30px;
 font-size: 13px;
}

.bulletIcon {
 margin-right: 10px;
 float: left;
 width: 20px;
 height: 20px;
 background-image:url('../img/bullet-icon.png');
 background-repeat: no-repeat;
}

#aboutSecondaryImage {
 float: right;
 margin-top: 10px;
 margin-right: 35px;
 width: 404px;
 height: 596px;
 background-image:url('../img/about-secondary-image.jpg');
 background-repeat: no-repeat;
}

#aboutExchangeImage {
 float: left;
 margin-left: 25px;
 margin-bottom: 10px;
 width: 415px;
 height: 110px;
 background-image:url('../img/exchange-icon.png');
 background-repeat: no-repeat;
}





