body {
	background-color: #444;
}
#platform {
	margin:auto;
	background-color: #EEE;
	width: 564px;
	border-style: solid;
    border-width: 1px;
    overflow: hidden;
    display: inline-block; /* Necessary to trigger "hasLayout" in IE */
    display: block; /* Sets element back to block */
}
#loginStatus {
	float: left;
	width:204px;
	height:20px;
}
#connectedUsers {
	float: left;
	width:300px;
	height:20px;
}
#login {
	float:left;
	width:200px;
}
#eventScriptDisplay {
	float:left;
	width:200px;
	margin:10px;
    padding: 3px;
    font-size: 90%;
}
#news {
	float:left;
	width:300px;
	min-height:59px;
	margin:10px;
    padding: 3px;
    font-size: 90%;
}
#adminButtons {
	float:left;
	width:532px;
	height:25px;
}
#marketPriceUpdates {
	float:left;
	width:532px;
}
#marketProducts {
	float: left;
	width:135px;
}
#portfolio {
	float:left;
    font-size: 90%;
}
#cashbook {
	float:left;
	width:200px;
	height:150px;
	border-style: solid;
    border-width: 1px;
    margin:10px;
    padding:3px;
}

.openBorder {
	border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
}


.marketProduct {
	width:100px;
	height:20px;
	margin:10px;
	border-style: solid;
    border-width: 1px;
    padding: 5px;
}
#buyOptions {
	float: left;
	width:135px;
    text-align: center;
}
.buyBtn {
	margin:13px;
}
.product {
	width:100px;
	height:20px;
	margin:10px;
	border-style: solid;
    border-width: 1px;
    padding: 5px;
    text-align: center;
}
.standard {
	margin:10px;
	border-style: solid;
    border-width: 1px;
    padding: 3px;
    font-size: 90%;
}
#portProducts{
	float:left;
	margin:10px;
	padding:3px;
	width:304px;
	height:150px;
	border-style: solid;
    border-width: 1px;
}
#portProduct1 {
	float: left;
}
#portProduct2 {
	float: left;
}
#portProduct3 {
	float: left;
}
.portfolioStandard {
	float:left;
	height: 15px;
	padding: 5px;
	width: 79px;
	margin: 5px;
	border-style: solid;
    border-width: 1px;
    text-align: center;
    font-size: 90%;
}

#pp1Code {
}

#pp1Amount {
}

#pp1AveragePrice {
}









